.testimonial-header {
    text-align: center;   
    margin-top: 90px; 
}

.testimonial {
    max-width: 1150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
    text-align: center;
    margin-top: 90px;
}

.testimonial-block {
    background-color: hsl(0, 0%, 98%);
    width: 40%;
    padding: 5px 15px 20px;
    margin-top: 70px;
}

.testimonial-image {
    position: relative;
    top: -50px;
}

.testimonial-button {
    text-align: center;
    margin: 20px 0px 60px;
}

@media only screen and (max-width:764px) {
    .testimonial-block {
        width: 90%;
    }
}